<!-- <p>scheduler</p> -->
<h3>Scheduler</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Player1</th>
            <th>Player2</th>
            <th>Date</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor ="let schedule of schedulerTable">
            <td>{{schedule.player_one.sudo_name}}</td>
            <td>{{schedule.player_two.sudo_name}}</td>
            <td>{{schedule.match_date | date}}</td>
            <td>{{schedule.winner_player?.sudo_name}}</td>
        </tr>
    </tbody>

</table>