<!-- <p>dashboard works!</p> -->
<div class="container-wrap">
    <h3> Upcoming Matches (5 matches)</h3>
    <table class="table table-bordered">
        <thead>
            <th>Player 1</th>
            <th>Player 2</th>
            <th> Date</th>
        </thead>
    </table>
</div>
<div class="container-wrap">
    <h3>Point Table</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Player</th>
                <th>Played</th>
                <th>Win</th>
                <th>Loss</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let point of pointTable">
                <td>{{point.player.sudo_name}}</td>
                <td>{{point.matches_count}}</td>
                <td>{{point.win_count}}</td>
                <td>{{point.lose_count}}</td>
                <td>{{point.point}}</td>
            </tr>
        </tbody>
    </table>
</div>