<!-- <p>score-update works!</p> -->
<h3>Scheduled</h3>
<table class="table table-stripped">
    <thead>
        <tr>
            <th>Player 1</th>
            <th>Player 2</th>
            <th>Date</th>
            <th>Update</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <button class="icon-button" type="button">
                    <fa-icon [icon]="faEdit"></fa-icon>
                </button>
            </td>
        </tr>
    </tbody>
</table>