.card-header{
    background-color: unset !important;
   
}
.card-footer{
    background-color: unset !important;
}
.card-body{
    backdrop-filter: blur(10px);
    
}
.alert{
    color:#ff7f50;
    font-size: 15px;
    font-family: Roboto-slab;
    padding:0;
}
img{
    height:75px;
    border-radius:52% ;
    /* margin-left:77px; */
}
.container{
 /* background: linear-gradient(110deg, #3bc6fd 25%, #d54bff 50%);   */
  height:91vh;
 /* max-width:200%;  */
 /* backdrop-filter: saturate(180%) blur(10px); */
 /* box-shadow: 0px 0px 9px 5px rgb(0 0 0 / 16%); */
} 
.container .card {
    top:100px;
    left:20px;
    font-family: Roboto-slab;
    border-radius:5%;
    /* color:rgb(47, 235, 41); */
    /* background: rgb(0 0 0 / 16%); */
    backdrop-filter: saturate(180%) blur(10px);
    box-shadow: 0px 0px 9px 5px rgb(0 0 0 / 16%);
}
.center{display: block;
margin-left: auto;
margin-right: auto;
width: 50;
}
.submit-btn{
    margin: 20px 80px;
    width: 50%;
}